{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
	{{ super() }}
	
	{% with msgs = get_flashed_messages() %}
		{% if msgs %}
			<ul class="errors">
				{% for msg in msgs %}
					<li>{{msg}}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	
	<form method="POST" action="{{ url_for('login') }}">
	{{ form.hidden_tag() }}
	
	{{ form.email.label }}:
	{{ form.email }}
	<br/>
	
	{{ form.password.label }}:
	{{ form.password }}
	<br/>
	
	{{ form.submit }}
	
	</form>
{% endblock %}
